$primary: #d6e6f3;
$secondary: #fd6a00;
$dark: #12111e;
$warning: #ffede0;
$success: #c4c4c4;
$light-gray: #e7e7e8;
$light-blue: #f5fdff;
$info: #243065;
$danger: #fd0000;
$base-font: 14px;
$fs-12: 12px;
$fs-21: 21px;
$fs-29: 29px;
$fs-41: 41px;
