@import "./variables";
@import "./utility/helpers";
@import "./utility/reset";

*,
html {
  font-size: 14px;
  font-family: "montserrat" sans-serif;
  font-style: normal;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  margin: 0;
  padding: 0;
}
